<%= form_with(model: designer, local: true, html: { multipart: true }) do |form| %>
  <% if designer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(designer.errors.count, "error") %> prohibited this designer from being saved:</h2>

      <ul>
      <% designer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pictures %>
    <%= form.file_field :pictures, multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png" %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>

  <div class="field">
    <%= form.label :company_website %>
    <%= form.text_field :company_website %>
  </div>

  <div class="field">
    <%= form.label :profile_pic %>
    <%= form.file_field :profile_pic, id: :designer_profile_pic %>
      <% if form.object.profile_pic? %>
        <%= image_tag form.object.profile_pic.thumb.url %>
        <%= form.label :remove_profile_pic %>
        <%= form.check_box :remove_profile_pic %>
      <% end %>
  </div>

  <div class="field">
    <%= form.label :design_image %>
    <%= form.file_field :design_image, id: :designer_design_image %>
      <% if form.object.design_image? %>
        <%= image_tag form.object.design_image.thumb.url %>
        <%= form.label :remove_design_image %>
        <%= form.check_box :remove_design_image %>
      <% end %>      
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_field :about %>
  </div>

  <div class="field">
    <%= form.label :company_slogan %>
    <%= form.text_field :company_slogan %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


