<p id="notice"><%= notice %></p>

      <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
        <% @designers.each do |designer| %>
          <div class="col-lg-4">
            <img class="rounded-circle <%= image_tag(designer.design_image_url, width: 320, height:200) if designer.design_image.present? %>"></img>
            <h2><%= link_to designer.first_name, designer %></h2>
            <p><%= designer.company_name %></p>
            <p><a class="btn btn-secondary" role="button">View details &raquo;<%= link_to designer.first_name, designer %></a></p>
          </div>
        <% end %>  
      </div>    

<h1 class="header text-center">Designer Lookbook</h1>
<div class="container" id="designer-cards">
  <div class="row">
    <% @designers.each do |designer| %>
      <div class="col-lg-4">
        <div class="card justify-content-center" style="width: 20rem; height: auto">
          <div class="card-img-top justify-content-center">
            <%= image_tag(designer.design_image_url, width: 320, height:200) if designer.design_image.present? %>
          </div>  
          <div class="card-body justify-content-center">
            <h3 class="card-title card-dark text-center"><%= link_to designer.first_name, designer %></h3>
            <div class="avatar justify-content-center">
              <%= image_tag(designer.profile_pic_url, width: 150, height:150) if designer.profile_pic.present? %>
            </div>
            <p class="card-text"><%= designer.company_name %></p>
            <a href="mailto:<%= designer.email %>" class="btn btn-primary">Email</a>
          </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= designer.location %></li>
              </ul>
          </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

<h1 class="text-center">Designers</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Company name</th>
      <th>Company website</th>
      <th>Profile pic</th>
      <th>Design image</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @designers.each do |designer| %>
      <tr>
        <td><%= designer.first_name %></td>
        <td><%= designer.last_name %></td>
        <td><%= designer.email %></td>
        <td><%= designer.phone_number %></td>
        <td><%= designer.company_name %></td>
        <td><%= designer.company_website %></td>
        <td><%= image_tag(designer.profile_pic_url, width: 100, height: 100) if designer.profile_pic.present? %></td>
        <td><%= image_tag(designer.design_image_url, width: 100, height: 100) if designer.design_image.present? %></td>
        <td><%= designer.location %></td>
        <td><%= link_to 'Show', designer %></td>
        <td><%= link_to 'Edit', edit_designer_path(designer) %></td>
        <td><%= link_to 'Delete', designer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Designer', new_designer_path %>

<% if user_signed_in? %>
  <%= link_to('Edit registration', edit_user_registration_path) %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
<% else %> 
  <%= link_to('Register', new_user_registration_path)  %>
  <%= link_to('Login', new_user_session_path)  %>  
<% end %>


