<p id="notice"><%= notice %></p>
<% if @designers.blank? %>
  <h4 class="text-center">There are no current Design Firms with the name <%= params[:search] %>.</h4>
<% end %>

<h1 class="header text-center">Design Lookbook</h1>
<div class="container">
  <div class="row col-md-12 text-center justify-content-center" style="margin-bottom: 5rem;">
      <% @designers.each do |designer| %>
        <div class="card justify-content-center">
          <%= image_tag(designer.design_image_url, width: 400, height:250) if designer.design_image.present? %>
          <div class="avatar justify-content-center">
            <%= image_tag(designer.profile_pic_url, width: 150, height:150) if designer.profile_pic.present? %>
          </div>
          <div class="card-body">
            <h5 class="card-title card-dark text-center"><%= link_to designer.company_name, designer %></h5>
            <a class="card-text text-center"><%= designer.company_website %></a>
          </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center"><%= designer.location %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>


<h1 class="text-center">Admin Design Firms Table</h1>

<table class="table thead-dark table-bordered span-12">
  <thead class="table thead-dark">
    <tr>
      <th style="width: 9%">First name</th>
      <th style="width: 8%">Last name</th>
      <th style="width: 9%">Email</th>
      <th style="width: 9%">Phone number</th>
      <th style="width: 9%">Company name</th>
      <th style="width: 9%">Company Slogan</th> 
      <th style="width: 9%">Company website</th>
      <th style="width: 9%">Design image</th>
      <th style="width: 9%">Location</th>
      <th style="width: 9%">Show</th>
      <th style="width: 9%">Edit</th>
      <th style="width: 9%">Delete</th>      
      <th colspan="12"></th>
    </tr>
  </thead>

  <table class="table table-striped table-bordered">
    <tbody>
      <% @designers.each do |designer| %>
        <tr>
          <td><%= designer.first_name %></td>
          <td><%= designer.last_name %></td>
          <td><%= designer.email %></td>
          <td><%= designer.phone_number %></td>
          <td><%= designer.company_name %></td>
          <td><%= designer.company_slogan %></td>
          <td><%= designer.company_website %></td>
          <td><%= image_tag(designer.design_image_url, width: 100, height: 100) if designer.design_image.present? %></td>
          <td><%= designer.location %></td>        
          <td><%= link_to 'Show', designer %></td>
          <td><%= link_to 'Edit', edit_designer_path(designer) %></td>
          <td><%= link_to 'Delete', designer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</table>

<br>

<%= link_to 'New Designer', new_designer_path %>

<% if user_signed_in? %>
  <%= link_to('Edit registration', edit_user_registration_path) %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
<% else %> 
  <%= link_to('Register', new_user_registration_path)  %>
  <%= link_to('Login', new_user_session_path)  %>  
<% end %>


